<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListCheckOff">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Module 2 Assignment Submission</title>
  <link rel="stylesheet" type="text/css" href="../../libraries/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <h3 class="text-center">Module 2 Assignment</h3>

    <div class="row justify-content-md-center">

      <!-- Start of the To Buy list -->
      <div class="col col-lg-6" ng-controller="ToBuyController as toBuy">
        <div class="card">
          <div class="card-header">
            To Buy
          </div>
          <div class="card-block">
            <ul ng-if="toBuy.items.length > 0" class="list-group">
              <li ng-repeat="item in toBuy.items" class="list-group-item flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <span class="mb-1">Buy {{item.quantity}} {{item.name}}</span>
                  <button ng-click="toBuy.itemBought($index)" class="btn btn-success btn-sm">&#10003; Bought</button>
                </div>
              </li>
            </ul>
            <div ng-if="toBuy.items.length === 0" class="alert alert-success" role="alert">
              Everything has been bought!
            </div>
          </div>
        </div>
      </div>
      <!-- End of the To Buy list -->

      <!-- Start of the Already Bought list -->
      <div class="col col-6" ng-controller="AlreadyBoughtController as bought">

        <div class="card">
          <div class="card-header">
            Already Bought
          </div>
          <div class="card-block">
            <ul ng-if="bought.items.length > 0" class="list-group">
              <li ng-repeat="item in bought.items" class="list-group-item">
                Bought {{item.quantity}} {{item.name}}
              </li>
            </ul>
            <div ng-if="bought.items.length === 0" class="alert alert-info" role="alert">
              Nothing bought yet!
            </div>
          </div>
        </div>
      </div>
      <!-- End of the Already Bought list -->

    </div>
    <!-- End of the row -->

  </div>
  <!-- End of the container -->

  <script src="../../libraries/angular.min.js"></script>
  <script src="app.js"></script>

</body>

</html>
