<!-- Start of the list of found items -->
<div class="col col-md-auto">
  <div class="card">
    <div class="card-header">
      Search results
    </div>
    <div class="card-block">

    <div class="alert alert-warning" ng-if="foundCtrl.isNothingFound()">Nothing found!</div>

      <table ng-if="!foundCtrl.isNothingFound()" class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Item name</th>
            <th>Short name</th>
            <th>Description</th>
            <th>Remove?</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in foundCtrl.items">
            <th scope="row">{{$index + 1}}</th>
            <td>{{item.name}}</td>
            <td>{{item.short_name}}</td>
            <td>{{item.description}}</td>
            <td><button ng-click="foundCtrl.onRemove({index: $index});" class="btn btn-warning btn-sm">Don't want this one!</button></td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
<!-- End of the list of found items -->
